<div class="sc" id="callback">
  <div class="container">
    <div class="callback__box text-center">
      <p class="sc__heading">Готовы к незабываемому отдыху ?</p>
      <p class="callback__text">Сотрудники компании «Сансмайлтур» готовы подобрать для Вас самый оптимальный вариант отдыха
        исключительно по Вашим запросам и потребностям.</p>
      <p class="callback__text strong">Подскажите, как нам лучше связаться с вами ?</p>
      <div class="d-flex align-items-center justify-content-center">
        <button class="btn js-modal" data-modal="callback">Перезвоните мне</button>
        <span class="callback__btn-divider">или</span>
        <button class="btn js-modal" data-modal="mail">Напишите мне</button>
      </div>
    </div>
  </div>
</div>