<div class="sc" id="steps">
  <div class="container">
    <p class="sc__heading">Как всё происходит</p>
    <div class="row">
      <div class="col-md-3 d-flex">
        <span class="steps__icon">
          <img class="steps__img" src="./assets/img/icons/step-callback.svg" alt="steps callback">
        </span>
        <p class="steps__text">Мы максимально уточняем все
          ваши ожидания от отдыха</p>
      </div>
      <div class="col-md-3 d-flex">
        <span class="steps__icon">
          <img class="steps__img" src="./assets/img/icons/step-price.svg" alt="steps price">
        </span>
        <p class="steps__text">Детально подбираем вариант
          и просчитываем затраты</p>
      </div>
      <div class="col-md-3 d-flex">
        <span class="steps__icon">
          <img class="steps__img" src="./assets/img/icons/step-case.svg" alt="steps case">
        </span>
        <p class="steps__text">Желаем вам приятной поездки
          и ждём от Вас восхищенных отзывов</p>
      </div>
      <div class="col-md-3 d-flex flex-column">
        <!-- <p class="steps__text strong">Не стоит ждать! Закажите звонок!</p> -->
        <button class="btn steps__btn js-modal" data-modal="callback">Позвоните мне</button>
      </div>
    </div>
  </div>
</div>