<div class="sc" id="about">
  <div class="container">
    <div class="pos-r">
      <p class="sc__heading">Дорогие друзья,</p>
      <p class="about__text">на нашем сайте Вы можете узнать не только где, но и как приятно и с пользой провести свой отпуск. Чтобы предстоящий отдых удался, его нужно как следует спланировать. Именно этим занимаемся мы, туроператор по Украине «Сансмайлтур».
        Спросите себя, чего Вы желаете? Возможно, Вы просто хотите сменить обстановку и поправить свое здоровье, а может Вам нравится активный отдых или экстрим? В любом случае, Вы обратились по адресу.
        <br>
        <br>
        Мы команда профессионалов, которая любит свою работу и делает всё возможное, чтоб клиент остался доволен. Сотрудники компании «Сансмайлтур» подберут для Вас самый оптимальный вариант отдыха исключительно по Вашим запросам и потребностям.
        <br>
        <br>
        Мы ценим и любим каждого клиента – убедитесь в этом сами!</p>
      <img class="about__img" src="./assets/img/logo.svg" alt="logo" itemprop="logo">
    </div>
  </div>
</div>