<div class="overlay">
  <div class="overlay__reveal"></div>
  <div class="overlay__item" id="preview-about">
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <img class="box__img box__img--original" src="./assets/img/about.jpg" alt="Founder" />
      </div>
      <div class="col-md-8 col-lg-9">
        <div class="overlay__content">
          <p>Нажаль, боржники, незважаючи на отримання численних листів та повідомлень як безпосередньо від Фонду, так і від фінансових
          компаній та бірж, які проводять торги, в більшості випадків не користуються унікальною можливістю викупити власні боргові
          зобов’язання та назавжди позбутись фінансового тиску.</p>

          <p>В подальшому, такі лоти об’єднуються Фондом в так звані «пули» і виставляються на торги, проте їх покупцями стають вже не
          самі позичальники, а професійні гравці на ринку банківських боргів - фінансові та колекторські компанії.</p>

          <p>Саме вони стають новими кредиторами за Вашими борговими зобов’язаннями й отримують право та можливість стягувати з Вас всю
          суму заборгованості за кредитом, як за рахунок належної Вам заставної нерухомості, так і за рахунок будь-якого іншого майна
          чи коштів, що є в Вашій особистій чи спільній власності.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay__item" id="about_offer_1">
    <div class="row">
      <div class="col-12">
        <div class="overlay__content">
          <p class="c__p">Агентство забезпечує повний юридичний супровід викупу фізичними особами-боржниками за
            іпотечними кредитами власних боргів у банків, що знаходяться в стадії ліквідації,
            зокрема:</p>
            <ul class="c__list">
              <li>Надамо Вам інформацію щодо стану Вашої заборгованості та підготовки лоту до торгів;</li>
              <li>Запропонуємо стратегію дій під час торгів з урахуванням Вашого конкретного випадку та фінансових можливостей;</li>
              <li>Підготуємо та оформимо всі необхідні документи для участі Вашого представника в аукціоні (Позичальник не має право особисто укладати договори про викуп власних зобов’язань у банку, що ліквідується,);</li>
              <li>Приймемо участь в торгах через аукціонні майданчики-партнери;</li>
              <li>Забезпечимо юридичний супровід укладання договорів відступлення (купівлі-продажу) прав вимоги за кредитним договором та переходу прав за іпотечним договором;</li>
              <li>Надамо консультацію щодо уникнення можливих податкових наслідків укладання зазначених угод.</li>
            </ul>
          <p class="c__p">Дана послуга діє по всій України, незалежно від місця знаходження заставного майна та банку – банкрута. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay__item" id="about_offer_2">
    <div class="row">
      <div class="col-12">
        <div class="overlay__content">
          <p class="c__p">В багатьох випадках майнові права за кредитним договором вже викуплені недружньою фінансовою компанією, яка спеціалізується
            на придбані боргових зобов’язань фізичних осіб.</p>

          <p class="c__p">Незважаючи на дію мораторію на стягнення нерухомого житлового майна, що виступає забезпеченням за кредитами громадян України,
            такі компанії здійснюють стягнення іпотечних об’єктів без звернення до суду, на підставі статті 37 Закону України «Про
            іпотеку».</p>

          <p class="c__p">Як наслідок, Ваше майно буде стягнуто в рахунок погашення боргу, протягом тридцяти календарних днів з моменту отримання відповідного
            повідомлення. Борг за кредитним договором залишиться непогашеним, оскільки, в більшості випадків, вартість нерухомості
            на даний час є значно меншою за суму загальної заборгованості по кредиту. В подальшому, непогашена частина боргу буде стягуватись
            фінансовою компанією у судовому порядку, і у випадку не розрахунку Вас буде внесено до Єдиного реєстру боржників, що призведе
            до обмеження цивільних прав.</p>

          <p class="c__p">Ми пропонуємо Вам фахову підтримку та можливість вирішити усі юридичні та фінансові спори з кредиторами саме у позасудовому
            порядку, шляхом мирного врегулювання (правової медіації).</p>

        </div>
      </div>
    </div>
  </div>
  <div class="overlay__item" id="menu-sm">
    <div class="overlay__content">
      <ul class="menu__list cl-effect-5">
        <li class="menu__item">
          <a href="#about" class="menu__link">
            <span data-hover="Про нас">Про нас</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#offers" class="menu__link">
            <span data-hover="Наші послуги">Наші послуги</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#news" class="menu__link">
            <span data-hover="Новини">Новини</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#testimonials" class="menu__link">
            <span data-hover="Відгуки">Відгуки</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#partners" class="menu__link">
            <span data-hover="Партнери">Партнери</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#faq" class="menu__link">
            <span data-hover="FAQ">FAQ</span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#contacts" class="menu__link">
            <span data-hover="Контакти">Контакти</span>
          </a>
        </li>
      </ul>
      <div class="overlay__phones">
        <div class="column sm-visible">
          <a href="tel:+380442840797">+38 044 284 07 97</a>
          <a href="tel:+380993909999">+38 099 390 99 99</a>
        </div>
        <div class="socials sm-visible">
          <img class="socials__item" src="./assets/img/h/wat.png" alt="whatsup">
          <img class="socials__item" src="./assets/img/h/viber.png" alt="viber">
          <img class="socials__item" src="./assets/img/h/t.png" alt="telegram">
        </div>
      </div>
    </div>
  </div>
  <div class="overlay__item" id="news_item_1">
    <div class="row">
      <div class="col-12">
        <div class="overlay__content">
          <p class="c__p">Агентство забезпечує повний юридичний супровід викупу фізичними особами-боржниками за
            іпотечними кредитами власних боргів у банків, що знаходяться в стадії ліквідації,
            зокрема:</p>
            <ul class="c__list">
              <li>Надамо Вам інформацію щодо стану Вашої заборгованості та підготовки лоту до торгів;</li>
              <li>Запропонуємо стратегію дій під час торгів з урахуванням Вашого конкретного випадку та фінансових можливостей;</li>
              <li>Підготуємо та оформимо всі необхідні документи для участі Вашого представника в аукціоні (Позичальник не має право особисто укладати договори про викуп власних зобов’язань у банку, що ліквідується,);</li>
              <li>Приймемо участь в торгах через аукціонні майданчики-партнери;</li>
              <li>Забезпечимо юридичний супровід укладання договорів відступлення (купівлі-продажу) прав вимоги за кредитним договором та переходу прав за іпотечним договором;</li>
              <li>Надамо консультацію щодо уникнення можливих податкових наслідків укладання зазначених угод.</li>
            </ul>
          <p class="c__p">Дана послуга діє по всій України, незалежно від місця знаходження заставного майна та банку – банкрута. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay__item" id="news_item_2">
    <div class="row">
      <div class="col-12">
        <div class="overlay__content">
          <p class="c__p">В багатьох випадках майнові права за кредитним договором вже викуплені недружньою фінансовою компанією, яка спеціалізується
            на придбані боргових зобов’язань фізичних осіб.</p>

          <p class="c__p">Незважаючи на дію мораторію на стягнення нерухомого житлового майна, що виступає забезпеченням за кредитами громадян України,
            такі компанії здійснюють стягнення іпотечних об’єктів без звернення до суду, на підставі статті 37 Закону України «Про
            іпотеку».</p>

          <p class="c__p">Як наслідок, Ваше майно буде стягнуто в рахунок погашення боргу, протягом тридцяти календарних днів з моменту отримання відповідного
            повідомлення. Борг за кредитним договором залишиться непогашеним, оскільки, в більшості випадків, вартість нерухомості
            на даний час є значно меншою за суму загальної заборгованості по кредиту. В подальшому, непогашена частина боргу буде стягуватись
            фінансовою компанією у судовому порядку, і у випадку не розрахунку Вас буде внесено до Єдиного реєстру боржників, що призведе
            до обмеження цивільних прав.</p>

          <p class="c__p">Ми пропонуємо Вам фахову підтримку та можливість вирішити усі юридичні та фінансові спори з кредиторами саме у позасудовому
            порядку, шляхом мирного врегулювання (правової медіації).</p>

        </div>
      </div>
    </div>
  </div>
  <div class="overlay__item" id="news_item_3">
    <div class="row">
      <div class="col-12">
        <div class="overlay__content">
          <p class="c__p">В багатьох випадках майнові права за кредитним договором вже викуплені недружньою фінансовою компанією, яка спеціалізується
            на придбані боргових зобов’язань фізичних осіб.</p>

          <p class="c__p">Незважаючи на дію мораторію на стягнення нерухомого житлового майна, що виступає забезпеченням за кредитами громадян України,
            такі компанії здійснюють стягнення іпотечних об’єктів без звернення до суду, на підставі статті 37 Закону України «Про
            іпотеку».</p>

          <p class="c__p">Як наслідок, Ваше майно буде стягнуто в рахунок погашення боргу, протягом тридцяти календарних днів з моменту отримання відповідного
            повідомлення. Борг за кредитним договором залишиться непогашеним, оскільки, в більшості випадків, вартість нерухомості
            на даний час є значно меншою за суму загальної заборгованості по кредиту. В подальшому, непогашена частина боргу буде стягуватись
            фінансовою компанією у судовому порядку, і у випадку не розрахунку Вас буде внесено до Єдиного реєстру боржників, що призведе
            до обмеження цивільних прав.</p>

          <p class="c__p">Ми пропонуємо Вам фахову підтримку та можливість вирішити усі юридичні та фінансові спори з кредиторами саме у позасудовому
            порядку, шляхом мирного врегулювання (правової медіації).</p>

        </div>
      </div>
    </div>
  </div>
  <div class="overlay__item" id="news_item_4">
    <div class="row">
      <div class="col-12">
        <div class="overlay__content">
          <p class="c__p">В багатьох випадках майнові права за кредитним договором вже викуплені недружньою фінансовою компанією, яка спеціалізується
            на придбані боргових зобов’язань фізичних осіб.</p>

          <p class="c__p">Незважаючи на дію мораторію на стягнення нерухомого житлового майна, що виступає забезпеченням за кредитами громадян України,
            такі компанії здійснюють стягнення іпотечних об’єктів без звернення до суду, на підставі статті 37 Закону України «Про
            іпотеку».</p>

          <p class="c__p">Як наслідок, Ваше майно буде стягнуто в рахунок погашення боргу, протягом тридцяти календарних днів з моменту отримання відповідного
            повідомлення. Борг за кредитним договором залишиться непогашеним, оскільки, в більшості випадків, вартість нерухомості
            на даний час є значно меншою за суму загальної заборгованості по кредиту. В подальшому, непогашена частина боргу буде стягуватись
            фінансовою компанією у судовому порядку, і у випадку не розрахунку Вас буде внесено до Єдиного реєстру боржників, що призведе
            до обмеження цивільних прав.</p>

          <p class="c__p">Ми пропонуємо Вам фахову підтримку та можливість вирішити усі юридичні та фінансові спори з кредиторами саме у позасудовому
            порядку, шляхом мирного врегулювання (правової медіації).</p>

        </div>
      </div>
    </div>
  </div>
  <div class="overlay__header">
    <a class="logo header__logo" itemprop="url" href="#logo">
      <img src="./assets/img/logo.svg" alt="logo" itemprop="logo" class="header__logo-img">
    </a>
    <div class="overlay__buttons">
      <button class="btn btn--bordered overlay__close" type="button">
        Назад ...
        <span class="btn__arrow icons">
          <svg class="icons__arrow" viewBox="0 0 29.87 59.92">
            <path fill="#fff"  stroke-miterlimit="10" stroke-width="4px" class="cls-1" d="M2.8,4A1.67,1.67,0,0,1,5.74,2.88L28.27,29.27a1.67,1.67,0,0,1,0,2.17L5.73,57.63A1.67,1.67,0,1,1,3.2,55.45l21.6-25.1L3.2,5A1.66,1.66,0,0,1,2.8,4Z" transform="translate(-0.8 -0.29)"/>
          </svg>
          <svg class="icons__circle" viewBox="0 0 157.67 157.68">
            <path fill="#fff" d="M106.18,117.44a47.29,47.29,0,0,1-54.69,0L29,139.94a78.85,78.85,0,0,0,99.67,0Z"/>
            <path fill="#fff" d="M139.93,29,117.43,51.5a47.29,47.29,0,0,1-.09,54.81l22.48,22.48A78.86,78.86,0,0,0,139.93,29Z"/>
            <path fill="#fff" d="M51.37,40.33a47.3,47.3,0,0,1,54.93,0l22.48-22.48a78.84,78.84,0,0,0-99.9,0Z"/>
            <path fill="#fff" d="M40.33,106.31a47.41,47.41,0,0,1-.09-54.8L17.74,29a78.86,78.86,0,0,0,.1,99.79Z"/>
          </svg>
        </span>
      </button>
    </div>
  </div>
</div>