<div class="welcome">
  <div class="container container--full-h">
    <div class="row pos-r">
      <div class="welcome__text-part">
        <div class="welcome__texts">
          <p class="welcome__preheading">загадочные</p>
          <p class="welcome__heading">Карпаты</p>
          <div class="welcome__content pos-r">
            <ul class="welcome__list">
              <li>Активный и оздоровительный отдых</li>
              <li>Широкий выбор услуг</li>
              <li>от 5000 грн</li>
            </ul>
          </div>
          <img class="welcome__object" src="./assets/img/icons/mountain.svg" alt="Карпатские горы">
        </div>
      </div>
      <div class="col-md-9 offset-md-3 pos-r">
        <a href="#" class="btn welcome__btn">Узнать больше</a>
        <div class="welcome__images">
          <div class="welcome__img">
            <img src="./assets/img/karpaty.png" alt="Карпаты">
          </div>
        </div>
      </div>
      <div class="welcome__nav" id="welcome-nav">
        <!-- <div class="welcome__counter">
          <span data-counter="current">1</span>
          <span>/</span>
          <span data-counter="all">3</span>
        </div> -->
        <button class="btn btn--prev" data-direction="prev">
          <i class="fas fa-angle-left"></i>
        </button>
        <button class="btn btn--next" data-direction="next">
          <i class="fas fa-angle-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>